@model IEnumerable<AbrigoHub.Core.Entities.Abrigo>
@{
    ViewData["Title"] = "Abrigos";
}
<h1>Abrigos</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Novo Abrigo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Capacidade</th>
            <th>Ocupação Atual</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Endereco</td>
            <td>@item.Cidade</td>
            <td>@item.Estado</td>
            <td>@item.Capacidade</td>
            <td>@item.OcupacaoAtual</td>
            <td>@item.Status</td>
        </tr>
    }
    </tbody>
</table> 